@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  text-align:center;
  height: 100vh;
   line-height: 1.5;
  background-image: linear-gradient(45deg, #FFE4B5, #696969);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

img {
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
  margin-top: 50px;
  max-width: 168px;
}

h1 {
  text-shadow: 1px 1px #000;
  font-size: 80px;
  color: #f0e68c;
  margin-bottom: 0;
}
a {
  font-size: 25px;
  color: #272727;
  text-decoration: none;
}
a:hover {
  color:#494949;
}
.container {
  background: #ffffff;
  padding: 5px 30px;
  border-radius: 15px;
  transition: 0.3s;
}
.container:hover {
 background-color: rgb(255, 255, 255);
  color: black;
}
.cvr {
  align-items: center;
 display:flex;
 flex-direction: column;
 gap: 20px;
 list-style-type: none;
 color: rgb(37, 37, 37);
 font-weight: 600;
}
li {
  display: inline-block;
  margin-right: 25px;
}


.player {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #2c2c2c;
  padding: 10px 20px;
  border-radius: 12px;
  width: fit-content;
}

.play-btn {
  background: #fff281;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.progress-container {
  width: 200px;
  height: 8px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
}

.progress-bar {
  width: 0%; /* Будет меняться через JS */
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
}
