@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes open {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: open 1.2s ease-out;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing:auto;
  font-style: normal;
}
body {
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  line-height: 1.5;
  background: linear-gradient(45deg, #ffe4b5, #696969);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
  margin-top: 80px;
  max-width: 168px;
}
a {
  font-size: 25px;
  color: #272727;
  text-decoration: none;
}
a:hover {
  color: #494949;
}
h1 {
  font-size: 70px;
  color: #2b2b2b;
  margin-bottom: 0;
}
h2 {
color: #fff;
}
h4 {
font-size: 25px;
color: #272727;
}
.container {
  background: #ffffff;
  padding: 5px 30px;
  border-radius: 15px;
}
.cvr {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  color: rgb(37, 37, 37);
  font-weight: 600;
}
li {
  display: inline-block;
  margin-right: 25px;
}



.contact-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;
}
.contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}
.contact-card:hover {
    transform: translateY(-5px); 
}
@media (max-width: 600px) {
    .contact-block {
        grid-template-columns: 1fr;
    }
}
.contact-card i {
    font-size: 24px;
    margin-right: 15px; /* Отступ между иконкой и текстом */
    color: #0088cc; /* Фирменный цвет Telegram */
}

.contact-card i.fa-github {
    color: #333; /* Фирменный цвет GitHub */
}


.player {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #2c2c2c;
  padding: 10px 20px;
  border-radius: 12px;
  width: fit-content;
}
.play-btn {
  background: #fff281;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.progress-container {
  width: 200px;
  height: 8px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
}
.progress-bar {
  width: 0%; /* Будет меняться через JS */
  height: 100%;
  background: #5e5e5e;
  border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb {
  /* Для Chrome, Safari, Opera */
  -webkit-appearance: none; /* Сбрасываем стандартный вид */
  appearance: none;
  width: 15px; /* Размер бегунка */
  height: 15px;
  background: #f5e97d; /* Ваш цвет */
  cursor: pointer;
  border-radius: 50%; /* Делает его круглым */
}

input[type="range"]::-moz-range-thumb {
  /* Для Firefox */
  width: 15px;
  height: 15px;
  background: #fff56c; /* Ваш цвет */
  cursor: pointer;
  border-radius: 50%;
}

.gallery {
  display: block;
  gap: 40px;
  padding: 20px;
}

.gallery-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px; /* Закругленные углы */
  transition: transform 0.3s ease; /* Для плавной анимации */
}

.gallery-item img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
